/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
  font-family: 'Inter', sans-serif;
  
} */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  background: #0a192f;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scrollbar-width: thin;
  -webkit-scrollbar-color: #8750f7 #2a1454;
  scrollbar-color: #8750f7 #2a1454;
}
.container{
  max-width: 1160px !important;
  margin: 0 auto;
}

.btn-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.gradient-text {
  background-image: linear-gradient(to right, #8750f7 0%, #ffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 72px;
}

.custom-gradient {
  background-image: linear-gradient(
    to right,
    #8750f7 0%,
    /* theme primary */ #2a1454 51%,
    /* theme secondary */ #8750f7 100%
  );
  border: none;
  display: block;
  transition: 0.4s;
  background-size: 200% auto;
}

.custom-gradient:hover {
  background-position: right center;
}

/* skills  */
.skill-item {
  width: 180px;
  height: 180px;
  border: 1px solid transparent;
}
.skill-item:hover {
  border: 1px solid #8750f7;
  transition: 0.4s;
  cursor: pointer;
  padding: 20px 20px;
  transition: 0.3s all ease-in-out;
  border-radius: 25px;
}
.icon-box img {
  filter: grayscale(90%);
  transition: 0.3s;
}
.skill-item:hover .icon-box img {
  filter: grayscale(0);

  transform: scale(1.1);
}

/* hero seciton  */
.hero-image {
  border-radius: 38px;
  width: 100%;
  max-width: 550px;
  /* height: 450px; */
  height: 70vh;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  border: 2px solid #fff;
  transform: rotate(4.29deg);
}
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 38px;
  transition: 0.4s;
}
.hero-image:hover {
  border: 2px solid #8750f7;
  transform: scale(1.05);
  transform: rotate(-4deg) translate;
}
/* contact  */

input{
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 2px solid #2e343b;
}
input:focus{
border: 1px solid #8750f7;
}



@tailwind base;
@tailwind components;
@tailwind utilities;
