/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
  font-family: 'Inter', sans-serif;
  
} */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');

body{
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
}



.body-background{
  background: radial-gradient(600px at 841px 298px, rgba(29, 78, 216, 0.15), transparent 80%);
  
}
.btn-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.custom-gradient {
  background-image: linear-gradient(
    to right, 
    #8750f7 0%,   /* theme primary */
    #2a1454 51%,  /* theme secondary */
    #8750f7 100%
  );
  border: none;
  display: block;
  transition: 0.4s;
  background-size: 200% auto;
}

.custom-gradient:hover {
  background-position: right center;
}


@tailwind base;
@tailwind components;
@tailwind utilities;